/* 设置全局属性 */
body {
  /* 设置背景图片大小为覆盖全屏 */
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url(./images/background3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* 设置字体大小 */
  font-size: small;
  /* 设置外边距 */
  margin: 0px;
}
#header {
  position: fixed;
  left: 0.5vw;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 98vw;
  height: 15vh;
  line-height: 15vh;
  box-sizing: border-box;
  padding-left: 3vw;
  background-color: rgba(255, 255, 255, 0.51);
  border-radius: 1vw;
  font-weight: normal;
  /* 设置字体类型 */
  font-family: "等线";
  color: rgb(129, 129, 129);
  /* 设置页眉区高度 */
  font-size: 3vw;
}
#header p{
  padding: 0;
  margin: 0;
  height: 100%;
}
.inner {
  /* 设置宽度 */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 60vw;
  height: 6vh;
  margin: auto;
}
.inner a{
  display: block;
  height: 100%;
  text-decoration: none;
  font-weight: normal;
  /* 设置字体类型 */
  font-family: "等线";
  color: rgb(129, 129, 129);
  /* 设置页眉区高度 */
  font-size: 1.5vw;
  line-height: 6vh;
  text-align: center;
  width: 20vw;
  border-radius: 1vw;
  transition: all 0.5s;
}
.inner a:hover{
  color: black;
  background-color: white;
  transition: all 0.5s;
}
.container{
  width: 98vw;
  height: 65vh;
  background-color: rgba(255, 255, 255, 0.51);
  margin-top: 20vh;
  border-radius: 1vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 3vw;
  font-weight: normal;
  /* 设置字体类型 */
  font-family: "等线";
  color: rgb(66, 66, 66);
  /* 设置页眉区高度 */
  font-size: 1.5vw;
}
.container .img{
  background-image: url(./images/头像.jpg);
  width: 8vw;
  height: 8vw;
  background-position: center;
  background-size: cover;
  border-radius: 1vw;
  margin-top: 5vh;
}
.container .text{
  margin-left: 20vw;
}